@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    transition: all ease .2s;
  }

  html,body,#root {
    height: 100%;
    width: 100%;
  }
  body {
    display: flex;
    justify-content: center
  }